*.cpython-*

credentials.json
first-task/pdf-downloader/dict_split_2.json
first-task/pdf-downloader/pdfs/

first-task/pdf-analyzer/grobid_client_python
first-task/pdf-info-extractor/webscraper.py

env/

node_modules/